<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="duwei">
<meta name="src" content="https://github.com/hidu/mimo">
<title>api proxy | {{.version}} | {{.conf.Name}}</title>
<link rel="stylesheet" href="/_res/css/bootstrap.css">
<link rel="stylesheet" href="/_res/css/style.css">
<script type="text/javascript" src="/_res/js/socket.io.js"></script>
<script type="text/javascript" src="/_res/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/_res/js/api.js"></script>
</head>
<body>
<div id="nav">
<div id="menu">
       <ul id="left_submenu">
           <li class="border_first"><a href="/">首页</a></li>
           <li><a href="/_apis">API列表</a></li>
           <li><a href="/_api">添加API</a></li>
       </ul>
       <div class="pull-left" style='margin-left:20%;margin-top:8px'>{{.conf.Note}}</div>
       <div class='right'>
         <select onchange="location.href=location.protocol+'//'+location.hostname+':'+$(this).val()+location.pathname" autocomplete="off">
        {{range $i,$server:=.server_list}}
            <option value="{{$server.Port}}" {{if str_eq $server.Port $.host_port}}selected=selected{{end}}>{{$server.Name}}</option>
        {{end}}
       </select>
       <!-- 
          <ul>
            {{if .isLogin}}
              <li>{{.uname}}</li> 
              <li><a href="/_logout">logout</a></li>
             {{else}}
              <li><a href="/_login">login</a></li>
            {{end}}
         </ul> 
        -->
         </div>
       <div class="clear"></div>
</div>
</div>
<div class="clear"></div>
<div id="body" class="container my_container">
{{.body}}
</div>
<div class="clear"></div>
<div id="log_div"></div>
<center>&copy;2015 github.com/hidu/api-proxy</center>
</body>
</html>