<h2>模块列表</h2>
<table class="table table-hover">
<thead>
<tr>
<th>Name</th>
<th>Path</th>
<th>Note</th>
<th>Timeout</th>
<th>Pv</th>
<th>Enable</th>
<th>Url</th>
<th>HTTP Analysis</th>
</tr>
</thead>
<tbody>
{{range $name,$api:=.apis}}
<tr>
    <td><a href="/_api?name={{$name}}">{{$name}}</a></td>
    <td><a href="/_api?name={{$name}}">{{$api.Path|html}}</a></td>   
    <td>{{$api.Note|html}}</td>   
    <td>{{$api.TimeoutMs}}</td>
    <td><span id="api_pv_{{$name}}">{{$api.GetPv}}</span></td>
    <td>{{if not $api.Enable}}<font color=red>{{end}}{{$api.Enable}}{{if not $api.Enable}}</font>{{end}}</td>
    <td><a href="{{$.base_url}}{{$api.Path}}" target="_blank">{{$.base_url}}{{$api.Path}}</a></td>   
    <td><a href="/_analysis?name={{$name}}" target="_blank">analysis</a></td>   
</tr>
{{end}}
</tbody>
</table>
