<h2>API List</h2>
<table class="table table-hover">
<thead>
<tr>
<th>ID</th>
<th>Location</th>
<th>Note</th>
<th>Timeout</th>
<th>PV</th>
<th nowrap="nowrap">Enable</th>
<th>Visit Address</th>
<th nowrap="nowrap">Analysis</th>
</tr>
</thead>
<tbody>
{{range $id,$api:=.apis}}
<tr>
    <td><a href="/_/api?id={{$id}}">{{$id}}</a></td>
    <td><a href="/_/api?id={{$id}}">{{$api.Path|html}}</a></td>   
    <td>{{$api.Note|html}}</td>   
    <td>{{$api.TimeoutMs}}</td>
    <td><span id="api_pv_{{$id}}">{{$api.GetPv}}</span></td>
    <td>{{if not $api.Enable}}<font color=red>{{end}}{{$api.Enable}}{{if not $api.Enable}}</font>{{end}}</td>
    <td>
    <a href="{{$.base_url}}{{$api.Path}}" target="_blank">{{$.base_url}}{{$api.Path}}
    </a>
    </td>   
    <td>
    <a href="/_/analysis?id={{$id}}" target="_blank">View
    &nbsp;<span class="glyphicon glyphicon-new-window"></span>
    </a>
    </td>   
</tr>
{{end}}
</tbody>
</table>
